@import "tailwindcss";

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}


.blink-marker {
  fill: #3DD0AE;       /* green color */
  animation: blinkMarker 1s infinite ease-in-out;
}

@keyframes blinkMarker {
  0% { opacity: 1; r: 3; }
  50% { opacity: 0.3; r: 5; }  /* pulse bigger */
  100% { opacity: 1; r: 3; }
}


 
@keyframes circlePing {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  70% {
    transform: scale(2.3);
    opacity: 0;
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}

.circle-ping {
  animation: circlePing 1.6s infinite ease-out;
}


/* ===========================================================
   Dynamic Glow Animation Controlled by CSS Variable
   =========================================================== */

@keyframes glowPingDynamic {
  0% {
    opacity: 0.8;
    box-shadow: 0 0 0 0 var(--glow-color);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
  }
}

.glow-ping-dynamic {
  animation: glowPingDynamic 1.8s infinite;
  border-radius: 9999px;
}
